$color_1: #ffffff;
$color_2: #e1ee25;
$color_3: #5425FB;
$color_4: #bf9000;
$color_5: #2b0892;
$color_6: white;
$color_7: #6714d4;
$color_8: #f7f6fa;

$background-color_1: yellow;
$background-color_2: rgb(250, 248, 248);
$background-color_3: rgb(246, 248, 250);
$background-color_4: #e5e8eb;
$background-color_5: white;
$background-color_6: #f2f2f2;
$background-color_7: #6714d4;
$background-color_8: #adbaec;