* {
    margin: 0;
    padding: 0;
    }



body {
    font-family: 'Poppins', sans-serif;
    background-image:linear-gradient(to right, #b1d7e6 , #585e6631);
    
  }
 
  main {
    
    min-height: 100%;
    
}

#hero--diseño{

    background-image:linear-gradient(to right, #5f3fb8 , #6e24a0ee);
    margin: 0;
    padding: 0;
    width: 100%;

}

#hero--diseño h1{
    color: #ffffff;
}

#hero--diseño p{
    color: #e1ee25;
    font-weight:300;
}

#boton--hero{
    background-color: yellow;
    color: #5425FB;
}

#nav--diseño{
    background-color: rgb(250, 248, 248);
    margin: 0;
    padding: 0;
    width: 100%;

}

#logosincarbono{
display: flex;

  align-items: center;
  justify-content: center;
  margin-left: 15px;
  
}

#menu--diseño{
    display: flex;
    justify-content: right;
}

#plan--diseño {
    background-image: linear-gradient(to right, #868ca3 , #645be9);
    margin: 0;
    padding: 0;

}



#planes--titulo{
text-align: center;
padding: 5%;
}


ul{
    list-style-type: none;

    margin: 0;
    padding: 0;
}

section, div{
    display:block;
    
    
}

  li {
    display: inline;
    text-align: center;
  }



  li a:hover {
    color: rgba(244, 248, 11, 0.89);
  }

  li a {
    color: #2b0892;
    
  }

  footer{
    
    background-image:linear-gradient(to right, #c4c5cc , #bcbbc4);
    margin: 0;
    padding: 0;
    bottom:0;
    left:0;
    width: 100%;
    
  }

  footer p {
    color: #5425FB;
    text-align: center;
    
    
  }

  .proceso{
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 250px;
    padding: 15px;

  }

  .paso{
    width: 33%;
    background-color: rgb(246, 248, 250);
    margin: 5px;
    padding: 5px;
    text-align: center;

  }

    #conecta{

    border-radius: 25px;
    background: #e5e8eb;
    padding: 20px;
    height: 150px;

    }

    #implementa{
    border-radius: 25px;
    background: #31e4bd;
    padding: 20px;
    height: 150px;

    }

    #reduce{
        border-radius: 25px;
        background: #d9e444;
        padding: 20px;
        height: 150px;

    }
    
  .grid-container{
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 15px;
    
  } 

  img {
    width: 100%;
    height: auto;
  }


  table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #6714d4;
    color: white;
  }

  iframe{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
#tabla--diseño{

    margin: 5%;
}


  
  @media screen and (max-width: 600px ){

    .topnav a{

        display: block;
        width: 100%;

    }
    
    .hero, main{
        background-color: #adbaec;
    }

    .herocentral {
        display: none;
    }

    section{
        text-align: left;
    }

    #menu--diseño{
        text-size-adjust: 80%;
    }

    

  }

 
